


/* REFERENTE A TODAS AS PAGINAS DO SITE */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');



/* css reset */
*{
  padding: 0;
  margin: 0 auto;
  border: 0;
}

.topofixo{
  position: fixed;
  height: 210px !important;
  width: 100% !important;
  z-index: 1000;
  box-sizing: border-box;
  transition: all 2s;
}

/* para todas as paginas */
body {
  font-size: 18px;
  max-width: 1170px;
  background-image: url(../imagens/back.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Source Sans Pro', sans-serif;
}

/* aborda todo o conteudo do site */
#tudoindex{
  /* sem declaraçoes */
}

/* referente aos elementos de todas as paginas */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 25px;
  line-height: 7px;
}

/* referente ao header do topo que inclui o menu */
#headertopo {
  padding: 20px;
  
}

/* menu referente a todas as paginas do site */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  min-width: 800px;
  position: relative;
}

/* posicionando a barra de navegação */
#headertopo nav {
  position: absolute;
  top: 30%;
  right: 330px;
}

/* colocando a barra de navegaçao em horizontal */
#headertopo nav ul li {
  display: inline-block;
  padding: 0 15px;
  font-size: 1rem;
  list-style: none;
}

/* retirando o sublinhado */
#headertopo nav ul li a {
  color: #000000;
  text-decoration: none;
}

/* referente a jogos */
.banner {

  /*background-image: url(https://media.giphy.com/media/vhyig2EW1Wdby/giphy.gif);*/
  background-repeat: no-repeat;
  /*configurando para imagem não repetir*/

  background-attachment: fixed;
  /*Definindo que ela vai ficar fixa no local em que
  foi inserido, desta forma cria um efeito de uma janela
  para visualizar a imagem*/
  background-size: cover;
  /*Definindo que a imagem terá a largura para preencher todo o elemento*/
  min-height: 380px;

  /*Altura mínima da caixa. Coloque menor que a imagem*/
  text-align: center;
  color: white;
  box-sizing: border-box;
  /*Definindo que as dimensões (height, width) será o limite de crescimento da caixa*/
}

.banner h2 {
  color: #699DBB;
  font-family: "Lobster Two", cursive;
}

/*mudando as imagens do banner*/

.banner2 {
  background-image: url(../imagens/servico.jpg);
}

.banner3 {
  background-image: url(../imagens/contato.jpg);
}

/*Criando uma película transparente sobre a imagem*/

.frente_banner {

  min-height: 380px;
  padding-top: 100px;

}


.btn-banner {
  border: 0;
  padding: 15px;
  background: rgb(255, 40, 40);
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-top: 20px;
}

.trescolunas-container {
  width: 100%;
  min-height: 429px;
}

.trescolunas {
  float: left;
  width: calc(89.7%/3);
  box-sizing: border-box;
  padding: 48px 26px;
  margin: 20px;
  border-radius: 0px;
  color: #444;
}
  /*O CSS3 permite calcular valores, já que a intenção era criar
  três colunas do mesmo tabalho, dividi o tamanho do container por 3*/
  box-sizing: border-box;
  /*estabelecendo o limite de crescimento da caixa a borda*/
  padding: 20px;
}
.titulonoticias{
  padding: 10px;
  font-size: 2em;
}
.linknoticias{
  border: 0;
  padding: 15px;
  background: rgb(255, 40, 40);
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-top: 15px;
  float: right;
}

.duascolunas {
  float: left;
  width: calc(100%/2);
  box-sizing: border-box;
  padding: 20px;
}


/**
*SERVICOS
*/

#noticias {

  text-align: center;
  min-height: 325px;
  color: white;
  margin-top: 40px;
}

.noticia-container {
  background-color: white;
}

/**
*Contatos
*/

#contatos {
  background-color: #333;
  color: white;
  text-align: center;
}

.contatos-content {
  width: 60%;
  padding: 46px 0;
}

#contatos form {
  text-align: left;
  width: 100%;
}

#contatos img {
  max-height: 250px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}

/**
* EXEMPLO DE ESTILOS PARA FORMULÁRIO
*/

/*controlando a distância entre os controles*/

.grupo-controle {
  margin-bottom: 5px;
  box-sizing: border-box;
  width: 100%;
}

/*Definindo a aparência do controle*/

.controle {
  display: block;
  /*transformando em elemento em bloco para ocupar toda a extensão disponível*/
  padding: 12px 20px;
  line-height: 24px;
  height: 50px;
  outline: none;
  /*configurando altura entre linhas*/
  box-sizing: border-box;
  width: 100%;
}

/*Aparência do controle quando receber o foco do cursor do mouse*/

.controle:focus {
  color: #495057;
  background-color: #fff;
  border-color: rgba(1, 19, 212, 0.25);
  box-shadow: 0 0 0 2px rgba(1, 19, 212, 0.25);
}

/*Aparência do botão*/

.botao {
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  border-radius: none;
  color: #fff;
  font-size: 1.2em;
}

.clear {
  background-color: rgb(197, 193, 194);
}

.submit {
  background-color: rgb(255, 40, 40);
}

/**
*RODAPE PÁGINA
*/

#rodapepag {
  background-color: #b83933;
  position: relative;
  /*Criando um contexto de posicionamento para posicionar copyright*/
  float: left;
  /*fluturando o elemento para que possamos recolocar seu conteúdo dentor
  dele*/
  width: 100%;
  /*devolvendo a lagura*/
  box-sizing: border-box;
}

.rodapepag-content {
  display: flex;
  flex-direction: row;
}

/**
* REDE SOCIAL
*/

.social {
  border: none;
  display: flex;
}

/*posicionando os icones da rede social um ao lado do outro e retirando o sublinhad*/

.social ul {
  display: flex;
  align-items: center;
}

.social li {
  display: inline-block;
  list-style: none;
}

/*transformando o hiperlink em bloco para poder redimensionar o hiperlink*/

.social li a {
  display: block;
  width: 50px;
  height: 50px;
}

/*retirando o texto do a*/

.social li a span {
  display: none;
  /*oculta um elemento*/
}

/**
* Nav rodape
*/

#rodapepag nav li {
  font-size: 0.8rem;
  line-height: 1.5rem;
  display: block;
}

#rodapepag nav li a {
  color: #fff;
  text-decoration: none;
}

#rodapepag .logo img {
  width: 100%;
}

.mapasite {
  display: flex;
}

/**
* página interna
*/

main {
  min-height: 380px;
  background: #eee;
  padding: 20px;
}

/*Aplicando linha na tabela*/

table, td, th {
  border: 1px solid #a4a4a4;
  border-collapse: collapse;
  /*Juntarar as linhas*/
}

td, th {
  padding: 10px;
}

table {
  width: 100%;
}

/*Estilizando o cabeçalho da tabela*/

thead tr {
  background: #699DBB;
  color: white;
}

/*Selecionando linha pares*/

tbody tr:nth-child(2n) {
  background: white;
}

/*Selecionando a linha quando o mouse estiver sobre ela*/

tbody tr:hover {
  background: #699DBB;
}
/* referente a pagina contato */
.contatopage1{
  min-height: 130px;
  padding-top: 100px;
}